#cabecalho {
  position: fixed;
  width: 100%;
  height: 8%;
  left: 0%;
  display: inline;
  z-index: 98;
  background-color: rgba(53, 52, 52, 1);
}
#botao {
  position: absolute;
  width: 8%;
  height: 100%;
  background-image: url(hamburguer.jpg);
  background-size: cover;
}
#menuLateral {
  position: absolute;
  width: 40%;
  height: 91%;
  top: 9%;
  border: solid 1px #ccc;
  left: -42%;
  z-index: 99;
  background-color: rgba(53, 52, 52, 1);
  position: fixed;
  -webkit-transition: left 1s, -webkit-transform 1s;
  transition: left 1s, -webkit-transform 1s;
}
.menuItem {
  position: relative;
  width: 100%;
  height: 20%;
  color: #ccc;
  font-size: 25px;
  text-align: center;
  border-bottom: solid 1px #ccc;
}
.textoMenuItem {
  position: relative;
  top: 40%;
}
#nomeDojo {
  position: absolute;
  width: 50%;
  height: 36.5%;
  top: 22.5%;
  left: 25%;
  color: #CCC;
  font-size: 20px;
  text-align: center;
}
#routeView {
  position: absolute;
  width: 100%;
  height: 94.5%;
  top: 5.5%;
  left: 0%;
  background-image: url(code1.jpg);
  background-size: cover;
}
#botaoLogin {
  width: 98%;
  border-radius: 3px;
  box-sizing: border-box;
  color: #CCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(53, 52, 52, 1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  z-index: 98;
}
#navegacao {
  height: 10%;
  border: solid 3px #FFF
}
#conteudoHome {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  border-radius: 10px;
  overflow-y: auto;
  background-color: rgba(10, 10, 10, 0.8);
}
#textoBoasVindas {
  position: absolute;
  border-radius: 10px;
  width: 80%;
  height: 55%;
  top: 15%;
  left: 10%;
  font-size: 40px;
  text-align: center;
  color: #CCC;
  opacity: 0;
  background-image: url(dojo.jpg);
  background-size: cover;
  transition:  opacity 2s linear;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}
#textoBoasVindas2 {
  position: absolute;
  border-radius: 10px;
  width: 80%;
  height: 55%;
  top: 15%;
  left: 10%;
  font-size: 40px;
  text-align: center;
  color: #CCC;
  opacity: 0;
  background-image: url(dojo2.jpg);
  background-size:cover;
  transition:  opacity 2s linear;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}
#botaoProsseguir {
  position: absolute;
  width: 35%;
  height: 7%;
  top: 65%;
  left: 53%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
#imagemBotaoProsseguir {
  position: absolute;
  width: 30%;
  height: 95%;
  background-image: url(arrowFront.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#btnBotaoProsseguir {
  position: absolute;
  width: 70%;
  left: 30%;
  height: 95%;
}
#botaoMaisInstrucoes{
  width: 100%;
  height: 105%;
  top: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #CCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  line-height: 36px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(53, 52, 52, 1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  z-index: 98;
}

#conteudoDoForm {
  position: absolute;
  width: 70%;
  height: 50%;
  top: 15%;
  left: 15%;
}
.linha1 {
  position: relative;
  width: 100%;
}
.conteudoDelinha {
  position: relative;
  width: 100%;
  text-align: center;
}
#detalhesStyle {
  height: 60px;
  font-size: 40px;
  background-color: #2b2b2b;
  opacity: 0.9;
  color: #DDD;
}
#nomeStyle {
  height: 50px;
  width: 99%;
  font-size: 20px;
  background-color: #CCC;
}
#descricaoStyle {
  height: 100px;
  font-size: 20px;
  width: 99%;
  background-color: #CCC;
}
#publicStyle {
  height: 50px;
  font-size: 20px;
  background-color: #2b2b2b;
  opacity: 0.9;
  color: #DDD;
}
#buttonStyle {
  height: 50px;
  font-size: 20px;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  color: #DDD;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: green;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  margin-left: 0px;
}
#checkBoxPublic:checked::after {
  color: blue;
  border: 3px solid blue;
}

.conteudoDaPagina {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  color: #DDD;
  font-size: 18px;
}

/** DETALHES FESTA **/
#formEdicaoDeFesta {
  background-color: #2b2b2b;
  opacity: 0.9;
}
.inputDetalhes {
  position: relative;
  width: 99%;
}
#tituloDetalhes{
  height: 60px;
  font-size: 40px;
  background-color: #2b2b2b;
  opacity: 0.9;
  color: #FFF;
  text-align: center;
}
#descricaoDetalhes {
  height: 90px;
}

#btnSaveDetalhes {
  height: 50px;
  font-size: 20px;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  color: #CCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: green;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  margin-left: 0px;
}
#btnBackDetalhes {
  height: 50px;
  font-size: 20px;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  color: #CCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: red;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  margin-left: 0px;
}
#usuariosDetalhes {
  position: relative;
  background-color: #2b2b2b;
  opacity: 0.9;
  left: 0%;
}
#festaPublica {
  position: relative;
  background-color: #2b2b2b;
  opacity: 0.9;
  left: 0%;
  text-align: center;
  text-transform: uppercase;
}
#usuariosConvidados {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/** DETALHES FESTA **/

#usuariosNaoConvidados {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.nomeDosUsuariosNaoConvidados {
  color: red;
}
.nomeDosUsuariosConvidados {
  color: green;
}
/** LISTA **/
#lista {
  opacity: 0.9;
}
#lista li {
  background-color: #2b2b2b;
  border-radius: 5px;
}
#lista a {
  text-decoration: none;
  color: #DDD;
}
#lista a:hover {
  color: green;
}
.listaDeFestas {
  list-style-type: none;
}
.btnNavLista{
  width: 45%;
  padding: 0px;
  margin-left: 3%;
}
.btnListaNav {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#btnRemoveFesta {
  width: 95%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}
#toolBarLista {
  border-radius: 5px;
  background-color: rgba(45, 45, 45, 0.5);
}
#descricaoDaFesta {
  width: 100%;
  display: inline-flex;
}
#textoDescricao {
  width: 70%;
  height: 100%;
  padding-left: 20px;
}
#botoesDescricao {
  display:inline;
  width: 30%;
  margin-top: 5%;
}
#editarContent {
  height: 48%;
}
#btnDetalhesDaFesta {
  position: relative;
  width: 95%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgba(40, 53, 147, 1);
}
#excluirDiv {
  margin-top: 7%;
  height: 48%;
}
#tituloFestaLista {
  border-bottom: solid 1px #DDD;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #CCC;
}
#btnAddFesta{
  border-radius: 100px;
  height: 50px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 54px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(40, 53, 147, 1);
  color: #DDD;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
#listaVazia {
  margin-top: 10%;
  height: 80%;
  background-image: url(sad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #CCC;
  border-radius: 10px;
  opacity: 0.8;
}
#listaVaziaTexto {
  width: 70%;
  position: absolute;
  margin-top: 10px;
  margin-left: 15%;
  text-align: center;
  color: #DDD;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
#btnEuVou {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: green;
}
#btnTalvez{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
}
#btnNaoVou {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}
.tituloDaLista {
  border-bottom: solid 1px #CCC;
  text-align: center;
}
#respostasContadorDiv {
  width: 100%;
  display: inline-flex;
}
.tercoContadorDiv {
  display:inline;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  text-align: center;
  border-radius: 5px;
}
#yesDiv {
  background-color: rgba(0, 0, 0, 0.5);
  color: green;
}
#maybeDiv {
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
}
#noDiv {
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
}

#linhaQuemEstaVindo {
}
#conteudoRsvp {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
/** TODO: criar uma classe para esses botoes **/
#euVouDiv {
  display:inline;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  text-align: center;
}
#talvezDiv {
  display:inline;
  width: 30%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}
#naoVouDiv {
  display:inline;
  width: 30%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}


/** LISTA **/

/** LOGIN **/
#login-buttons-open-change-password {
  background-color: darkgoldenrod!important;
  border-radius: 5px!important;
}
#login-buttons-logout {
    background-color: brown!important;
    border-radius: 5px!important;
}
#login-close-text {
  color: brown;
  font-weight: bold;
}
.login-close-text {
  color: brown;
  font-weight: bold;
}
#login-buttons-facebook {
  background-color: #4b67a1;
  border-radius: 5px;
}
#login-buttons-password {
  background-color: darkgreen;
  border-radius: 5px;
  margin-bottom: 15px;
}
.additional-link-container {
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-bottom: 15px;
}
#login-email {
  width: 99%;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  font-size: 19px;
}
#login-email-label:after{content:""; display:block; clear:both}
#login-password {
  width: 99%;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  font-size: 19px;
  margin-bottom: 15px;
}
#login-password-label:after{content:""; display:block; clear:both}
/** LOGIN **/

/** FestaNaoConvidados **/
#btnConvidar{
  height: 20px;
  width: 20%;
  border-radius: 3px;
  box-sizing: border-box;
  color: #CCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: blue;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
/** FestaNaoConvidados **/

/** ========================== MEDIAS QUERY ================================ **/
@media (min-width: 950px) and (max-width: 1000px)
{
  #textoBoasVindas
   {
    height: 62%;
   }
}

@media (min-width: 1000px) and (max-width: 1500px)
{
  #textoBoasVindas
   {
    height: 65%;
   }
}
/** ========================== MEDIAS QUERY ================================ **/


.icon-light {
  color: #CCC;
}
