body {
  background: url(mochila2.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition:	all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.login-link-text{
  color: rgb(4, 174, 218);
}
.fundoOpaco{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.superContent {
  position: absolute;
  width: 96.5%;
  height: 95%;
  left: 0.3%;
}
.menu {
  position: absolute;
  width: 103%;
  height: 10%;
  top: 91.5%;
  left: 0;
  background-color: grey;
}
.news {
  position: absolute;
  height: 100%;
  width: 33.3%;
}
#linkHome {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.favorites {
  position: absolute;
  height: 100%;
  width: 33.3%;
  left: 33.3%;
}
.search {
  position: absolute;
  height: 100%;
  width: 33.3%;
  left: 66.6%;
}
.btnMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px #646765;
}
/** ================ PACOTES TopRanking ==================== **/
.pacotesTopRanking {
  position: absolute;
  width: 103%;
  height: 25%;
  background-color: rgba(79, 79, 79, 0.7);
  overflow-x: scroll;
  z-index: 0;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-top: 1%;
  padding-left: 1%;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.caixinha {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 80%;
  margin-left: 3%;
  margin-top: 1%;
  border-radius: 25px;
  border: solid 2px #646765;
}
.informacaoDaRota {
  position: absolute;
  height: 20%;
  margin-left: 5%;
  z-index: 100;
  color: #2dd082;
}
.imagemRota {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  z-index: 90;
  border-radius: 25px;
}
/** ================ PACOTES TopRanking =END================ **/

/** ================ PACOTES Default ======================= **/
.pacotesDefault {
  position: absolute;
  width: 90%;
  height: 50%;
  top: 25%;
  left: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.caixinha2 {
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  height: 55%;
  margin-left: 3%;
  margin-top: 1%;
  border-radius: 25px;
  border: solid 2px #646765;
}
/** ================ PACOTES Default =END=================== **/

/** ================ MODAL Search ========================== **/
.modalSearch {
  position: absolute;
  width: 103%;
  height: 90%;
  top: 5%;
  border-radius: 25px;
  z-index: 120;
  border: solid 3px #FFF;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
.formSearch {
  position: absolute;
  left: 40%;
  top: 40%;
}
.closeSearch {
  position: absolute;
  width: 3%;
  height: 5%;
  top: 0.5%;
  left: 96.5%;
  border-radius: 25px;
}
#fecharImagem {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
/** ================ MODAL Search ========================== **/

/** ================ MODAL RotaDetail ====================== **/
#fecharRotaDetail {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.tituloDaRota {
  position: absolute;
  width: 90%;
  height: 30%;
  left: 5%;
  top: 10%;
}
.conteudoDaRota {
  position: absolute;
  width: 90%;
  height: 30%;
  left: 5%;
  top:40%;
}
.botoesSociais {
  position: absolute;
  width: 90%;
  height: 15%;
  left: 5%;
  top:70%;
}
.botoesComprar {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top:85%;
}
.botaoCurtir {
  position: absolute;
  width: 33.3%;
  height: 100%;
}
.ImagensDosBotoes {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}
.botaoCompartilhar {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 33.3%;
}
.botaoSeguir {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 66.6%;
}
#btnComprar {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 8%;
  border-radius: 15px;
  background-color: pink;
}
/** ================ MODAL RotaDetail =END================== **/

/** =========== Modal Detalhes da Rota ============= **/
.informacoesDaRota {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 25px;
  z-index: 120;
  border: solid 3px #FFF;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
/** =========== Modal Detalhes da Rota =END========= **/

/** ================ Page: ABERTURA ================ **/
.barra {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 20%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.titulo {
  position: absolute;
  width: 70%;
  height: 20%;
  left: 25%;
  top: 0%;
  text-align: center;
  color: rgb(4, 174, 218);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.feedWorld {
  position: absolute;
  width: 95%;
  top: 5%;
  height: 13.5%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.iconeAbertura {
  position: absolute;
  width: 100%;
  height: 100%;
}
.friends {
  position: absolute;
  width: 95%;
  top: 25%;
  height: 13.5%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.myRoutes {
  position: absolute;
  width: 95%;
  top: 45%;
  height: 13.5%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.find {
  position: absolute;
  width: 95%;
  top: 65%;
  height: 13.5%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
.backArrow {
  position: absolute;
  width: 95%;
  top: 85%;
  height: 13.5%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
#linkWorld {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 101;
}
/** ================ Page: ABERTURA =END============ **/



/** ============= MEDIAS QUERY ==================== **/
/* APARELHO: Galaxy Note 3 */
@media screen and (width: 360px) {
  .caixinha {
    width: 55%;
  }
  .caixinha2 {
    width: 40%;
    height: 30%;
    margin-left: 8%;
    margin-top: 3%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: Iphone 5 */
@media screen and (width: 320px) {
  .pacotesTopRanking {
    height: 30%;
  }
  .caixinha {
    margin-top: 3%;
    height: 83%;
    width: 58%;
  }
  .pacotesDefault {
    height: 59%;
    top: 33%;
    left: 3%;
  }
  .caixinha2 {
    width: 40%;
    height: 30%;
    margin-left: 8%;
    margin-top: 3%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: Iphone 6 */
@media screen and (width: 375px) {
  .caixinha {
    width: 58%;
  }
  .caixinha2 {
    width: 40%;
    height: 30%;
    margin-left: 8%;
    margin-top: 3%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: LG Optimus */
@media screen and (width: 384px) {
  .caixinha {
    width: 58%;
  }
  .pacotesDefault {
    margin-top: 20%;
    height: 54%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .seuHumor {
    position: absolute;
    margin-top: 42%;
    width: 100%;
    text-align: center;
    color: rgb(4, 174, 218);
    border-radius: 15px;
    border: solid 3px #FFF;
  }
  #linkMapa {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
  }
  .atividadeDosAmigos {
    position: absolute;
    margin-top: 42%;
    width: 100%;
    text-align: center;
    color: rgb(4, 174, 218);
    border-radius: 15px;
    border: solid 3px #FFF;
    visibility: hidden;
    z-index: 103;
  }
  .listaAtividadeDosAmigos {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 25%;
    left: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    margin-top: 20%;
    height: 54%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #map  {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    height: 95%;
    width: 95%;
  }
  .caixinha2 {
    border: solid 3px rgb(4, 174, 218);
    width: 33%;
    height: 28%;
    margin-left: 10%;
    margin-top: 3%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/** ============= MEDIAS QUERY =END================ **/



/** ============= ANIMATIONS ====================== **/
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}


@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}


/** ============= ANIMATIONS ==END================= **/
 .alert-dialog-mask {
   background: rgba(0, 0, 0, 0.8);;
 }

.alert-dialog-prompt {
  border-radius: 15px;
  background-color: rgb(88, 97, 99);
}
.alert-dialog-title {
  color: rgb(4, 174, 218);
  font-weight: bold;
  text-align: center;
}
.alert-dialog-content {
  background-color: rgb(111, 124, 128);
}
.alert-message {
  color: rgb(197, 209, 212);
  text-align: center;
}
.button-small {
  color: rgb(4, 174, 218);
  background-color: rgb(88, 97, 99);
  font-weight: bold;
  width: 49%;
}
#btnModalBuscaCancelar {
  border-right: 1px solid #FFF;
}
.alert-dialog-footer {

}
