body {
  background: url(cidadeUrbano.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-link-text{
  color: #188b37;
}
.fundoOpaco{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.superContent {
  position: absolute;
  width: 96.5%;
  height: 95%;
  left: 0.3%;
}
.menu {
  position: absolute;
  width: 103%;
  height: 10%;
  top: 91.5%;
  left: 0;
  background-color: grey;
}
.news {
  position: absolute;
  height: 100%;
  width: 33.3%;
}
.favorites {
  position: absolute;
  height: 100%;
  width: 33.3%;
  left: 33.3%;
}
.search {
  position: absolute;
  height: 100%;
  width: 33.3%;
  left: 66.6%;
}
.btnMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px #646765;
}
/** ================ PACOTES TopRanking ==================== **/
.pacotesTopRanking {
  position: absolute;
  width: 103%;
  height: 25%;
  background-color: rgba(79, 79, 79, 0.7);;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 1%;
  padding-left: 1%;
}
.caixinha {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 80%;
  margin-left: 3%;
  margin-top: 1%;
  border-radius: 25px;
  border: solid 2px #646765;
}
.informacaoDaRota {
  position: absolute;
  height: 20%;
  margin-left: 5%;
  z-index: 100;
  color: #2dd082;
}
.imagemRota {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  z-index: 90;
  border-radius: 25px;
}
/** ================ PACOTES TopRanking =END================ **/

/** ================ PACOTES Default ======================= **/
.pacotesDefault {
  position: absolute;
  width: 95%;
  height: 66%;
  top: 25%;
  left: 3%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.caixinha2 {
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  height: 55%;
  margin-left: 3%;
  margin-top: 1%;
  border-radius: 25px;
  border: solid 2px #646765;
}
/** ================ PACOTES Default =END=================== **/

/** ================ MODAL Search ========================== **/
.modalSearch {
  position: absolute;
  width: 103%;
  height: 90%;
  top: 5%;
  border-radius: 25px;
  z-index: 120;
  border: solid 3px #FFF;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
.formSearch {
  position: absolute;
  left: 40%;
  top: 40%;
}
.closeSearch {
  position: absolute;
  width: 3%;
  height: 5%;
  top: 0.5%;
  left: 96.5%;
  border-radius: 25px;
}
#fecharImagem {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
/** ================ MODAL Search ========================== **/

/** ================ MODAL RotaDetail ====================== **/
#fecharRotaDetail {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.tituloDaRota {
  position: absolute;
  width: 90%;
  height: 30%;
  left: 5%;
  top: 10%;
}
.conteudoDaRota {
  position: absolute;
  width: 90%;
  height: 30%;
  left: 5%;
  top:40%;
}
.botoesSociais {
  position: absolute;
  width: 90%;
  height: 15%;
  left: 5%;
  top:70%;
}
.botoesComprar {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top:85%;
}
.botaoCurtir {
  position: absolute;
  width: 33.3%;
  height: 100%;
}
.ImagensDosBotoes {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}
.botaoCompartilhar {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 33.3%;
}
.botaoSeguir {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 66.6%;
}
#btnComprar {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 8%;
  border-radius: 15px;
  background-color: pink;
}
/** ================ MODAL RotaDetail =END================== **/

/** =========== Modal Detalhes da Rota ============= **/
.informacoesDaRota {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 25px;
  z-index: 120;
  border: solid 3px #FFF;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
/** =========== Modal Detalhes da Rota =END========= **/


/** ============= MEDIAS QUERY ==================== **/
/* APARELHO: Galaxy Note 3 */
@media screen and (width: 360px) {
  .caixinha {
    width: 55%;
  }
  .caixinha2 {
    width: 80%;
    margin-left: 10%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: Iphone 5 */
@media screen and (width: 320px) {
  .caixinha {
    width: 58%;
  }
  .caixinha2 {
    width: 80%;
    margin-left: 10%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: Iphone 6 */
@media screen and (width: 375px) {
  .caixinha {
    width: 58%;
  }
  .caixinha2 {
    width: 80%;
    margin-left: 10%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/* APARELHO: LG Optimus */
@media screen and (width: 384px) {
  .caixinha {
    width: 58%;
  }
  .caixinha2 {
    width: 80%;
    margin-left: 10%;
  }
  .formSearch {
    left: 20%;
    top: 40%;
  }
  .closeSearch {
    width: 10%;
    height: 10%;
    left: 90%;
  }
}
/** ============= MEDIAS QUERY =END================ **/
