<ons-alert-dialog class="alert-dialog-prompt" var="prompt" animation="fade" cancelable="promptOptions.cancelable">
    <div class="alert-dialog-title">
      {{ ::promptOptions.title }}
    </div>
    <div class="alert-dialog-content">
      <h2>{{ ::promptOptions.name }}</h2><br>
      <h4>{{ ::promptOptions.description }}</h4><br><br><br><br><br><br><br><br>

      <div class="botoesSociais">
        <div class="botaoCurtir" ng-click="home.clicaCurtir()">
          <img class="ImagensDosBotoes" src="coracao.png" alt="" />
        </div>
        <div class="botaoCompartilhar" ng-click="home.clicaCompartilhar()">
          <img class="ImagensDosBotoes" src="compartilhar.png" alt="" />
        </div>
        <div class="botaoSeguir" ng-click="home.clicaFacebook()">
          <img class="ImagensDosBotoes" src="face.png" alt="" />
        </div>
      </div>
    </div>
    <div class="alert-dialog-footer dialog-button-container text-center box-sizing">
      <button ng-if="promptOptions.cancelable" id="btnModalBuscaCancelar" class="button button-small button-red" ng-click="prompt._cancel()">Cancelar</button>
      <button class="button button-small button-red" ng-click="promptOptions.callback()">OK</button>
  </div>
</ons-alert-dialog>
