<ons-alert-dialog class="alert-dialog-prompt" var="prompt" animation="fade" cancelable="promptOptions.cancelable">
    <div class="alert-dialog-title">
      {{ ::promptOptions.title }}
    </div>
    <div class="alert-dialog-content">
      <span class="alert-message block">{{ ::promptOptions.message }}</span>
      <input class="field box-sizing" ng-class="promptOptions.modifier" type="text" ng-model="promptOptions.value" />
      <span class="message-required block" ng-if="invalidPrompt">{{ ::promptOptions.messageValidation }}</span>
    </div>
    <div class="alert-dialog-footer dialog-button-container text-center box-sizing">
      <button ng-if="promptOptions.cancelable" id="btnModalBuscaCancelar" class="button button-small button-red" ng-click="prompt._cancel()">Cancelar</button>
      <button class="button button-small button-red" ng-click="promptOptions.callback(promptOptions.value)">OK</button>
  </div>
</ons-alert-dialog>
