<!--
<div id="cabecalho">
  <div id="botao" ng-click="dojo.openMenu()"></div>
  <div id="nomeDojo">DOJO SAUDADE</div>
</div>
-->

<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button ng-click="dojo.openMenu()" class="md-icon-button" aria-label="Settings">
      <md-icon class="icon-light"><i class="material-icons">menu</i></md-icon>
    </md-button>
    <h2>
      <span>DOJO SAUDADE</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon style="color: greenyellow;"><i class="material-icons">adb</i></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon class="icon-light"><i class="material-icons">more_vert</i></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div id="menuLateral">
  <div class="menuItem" ng-click="dojo.clicaHome()">
    <div class="textoMenuItem">
      HOME
    </div>
  </div>
  <div class="menuItem" ng-click="dojo.clicaAdicionaFesta()">
    <div class="textoMenuItem">
      CADASTRAR UMA FESTA
    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem" ng-click="dojo.clicaListaFestas()">
      VER A LISTA DE FESTAS
    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">

    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">
      SOBRE
    </div>
  </div>
</div>
<div id="routeView" ui-view=""></div>
