<div id="cabecalho">
  <div id="botao" ng-click="dojo.openMenu()"></div>
  <div id="nomeDojo">DOJO 3-WAY-DATA-BINDINGS</div>
</div>

<div id="menuLateral">
  <div class="menuItem" ng-click="dojo.clicaHome()">
    <div class="textoMenuItem">
      HOME
    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">
      CADASTRAR UMA FESTA
    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">
      VER A LISTA DE FESTAS
    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">

    </div>
  </div>
  <div class="menuItem">
    <div class="textoMenuItem">
      SOBRE
    </div>
  </div>
</div>
<div id="routeView" ui-view=""></div>
