<div class="tituloDaLista">
  <strong>SUA RESPOSTA:</strong>
</div>
<div id="conteudoRsvp">
  <div id="euVouDiv">
    <md-button id="btnEuVou" class="md-warn md-raised md-hue-2" value="I'm going!" ng-click="partyRsvp.yes()">
      <md-icon>
        <i ng-hide="partyRsvp.isMobileDevice" class="material-icons">thumb_up</i>
        <img ng-show="partyRsvp.isMobileDevice" src="ic_thumb_up_white.png" class="material-icons"/>
      </md-icon>  EU VOU
    </md-button>
  </div>

  <div id="talvezDiv">
    <md-button id="btnTalvez" class="md-warn md-raised md-hue-2" value="Maybe" ng-click="partyRsvp.maybe()">
      <md-icon>
        <i ng-hide="partyRsvp.isMobileDevice" class="material-icons">thumbs_up_down</i>
        <img ng-show="partyRsvp.isMobileDevice" src="ic_thumbs_up_down_white.png" class="material-icons"/>
      </md-icon>  TALVEZ
    </md-button>
  </div>

  <div id="naoVouDiv">
    <md-button id="btnNaoVou" class="md-warn md-raised md-hue-2" value="No" ng-click="partyRsvp.no()">
      <md-icon>
        <i ng-hide="partyRsvp.isMobileDevice" class="material-icons">thumb_down</i>
        <img ng-show="partyRsvp.isMobileDevice" src="ic_thumb_down_white.png" class="material-icons"/>
      </md-icon>  NÃO VOU
    </md-button>
  </div>

</div>
