<div id="conteudoHome">
  <login-buttons id="botaoLogin"></login-buttons>
  <div class="conteudoDaPagina">
    <button id ="btnAddFesta" type="button" name="button" ng-click="listaFestas.adicionarFesta()" ng-hide="listaFestas.festas.length == 0">+</button>
    <div ng-show="listaFestas.festas.length == 0" id="listaVazia">
      <div id="listaVaziaTexto">
        LISTA VAZIA!!!!! <br><br>
        Ninguém convidou você pra nenhuma festa! <br><br>
        Crie uma festa agora mesmo e convide os seus amigos.
      </div>
    </div>
    <div id="lista">
      <ul>
        <li ng-repeat="festa in listaFestas.festas">
          <div id="tituloFestaLista">
            <a ui-sref="detalhesFesta({ festaId: festa._id })">
              {{festa.name}}
            </a>
          </div>
          <p>{{festa.description}}</p>
          <remove-festa festa="festa"></remove-festa>
          <party-rsvp festa="festa"></party-rsvp>
          <party-rsvps-list rsvps="festa.rsvps"></party-rsvps-list>
          <autor-festa festa="festa"></autor-festa>
        </li>
      </ul>
    </div>

  </div>
</div>
