<div id="conteudoHome">
  <login-buttons id="botaoLogin"></login-buttons>
  <div class="conteudoDaPagina">

    <md-toolbar  id="toolBarLista" class="md-hue-2">
      <div class="md-toolbar-tools">
        <div class="btnNavLista">
          <md-button  id="btnMinhas" class="btnListaNav" class="md-warn md-raised md-hue-2" aria-label="Settings" ng-click="listaFestas.minhas()">
            <md-icon class="icon-light"><i class="material-icons">new_releases</i></md-icon>
            MEUS
          </md-button>
        </div>
        <div class="btnNavLista">
          <md-button id="btnConvites" class="btnListaNav" class="md-warn md-raised md-hue-2" aria-label="Settings" ng-click="listaFestas.convites()">
            <md-icon class="icon-light"><i class="material-icons">email</i></md-icon>
            CONVITES
          </md-button>
        </div>
        <div class="btnNavLista">
          <md-button id="btnTodas" class="btnListaNav" class="md-warn md-raised md-hue-2" aria-label="Settings" ng-click="listaFestas.todasFestas()">
            <md-icon class="icon-light"><i class="material-icons">email</i></md-icon>
            TODOS
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <!-- TODO: Arrumar a condicional do ng-hide(passar para um boolean dentro da controller. MOTIVO: Está causando um delay na página) -->
    <div id="divBtnAdd" ng-show="listaFestas.minhasSelected || listaFestas.todasSelected">
      <button id ="btnAddFesta" type="button" name="button" ng-click="listaFestas.adicionarFesta()" ng-hide="listaFestas.festas.length == 0">+</button>
    </div>
    <div ng-show="listaFestas.festas.length == 0" id="listaVazia">
      <div id="listaVaziaTexto">
        LISTA VAZIA!!!!! <br><br>
        Ninguém convidou você para nenhum dojo! <br><br>
        Crie um dojo e compartilhe conhecimento com os seus colegas.
      </div>
    </div>

    <div id="lista" ng-show="listaFestas.minhasSelected">
      <ang-accordion class="Accordion">
        <collapsible-item item-title="{{festa.name}}" ng-repeat="festa in listaFestas.festasProprias" id="AccordionTitle">
          <div class="descricaoDaFesta">
            <div class="descricaoProprias" ng-hide="{{festa.owner === listaFestas.userId}}">
              <div>
                <p>Descrição:</p>
                <textarea id="textAreaProprias" disabled>{{festa.description}}</textarea>
              </div>
            </div>
            <div class="descricaoOutros" ng-show="{{festa.owner === listaFestas.userId}}">
              <div id="textoDescricao">
                <p><strong>DESCRIÇÃO:</strong></p>
                <textarea id="textAreaLista" disabled>{{festa.description}}</textarea>
              </div>
              <div id="botoesOutros">
                <div id="editarContent">
                  <md-button ui-sref="detalhesFesta({ festaId: festa._id })" id="btnDetalhesDaFesta" class="md-warn md-raised md-hue-2" aria-label="Settings">
                    <md-icon class="icon-light"><i class="material-icons">settings</i></md-icon><br>
                    Editar
                  </md-button>
                </div>
                <div id="excluirDiv">
                  <remove-festa festa="festa"></remove-festa>
                </div>
              </div>
            </div>
          </div>
          <div class="linhaSuaResposta" ng-show="{{festa.owner !== listaFestas.userId}}">
              <party-rsvp festa="festa"></party-rsvp>
          </div>
          <div class="quemEstaVindo">
            <party-rsvps-list rsvps="festa.rsvps"></party-rsvps-list>
          </div>
          <div class="aindaNaoResponderam">
            <party-unanswered festa="festa"></party-unanswered>
          </div>
          <div class="autorFesta">
            <autor-festa festa="festa"></autor-festa>
          </div>
        </collapsible-item>
      </ang-accordion>
    </div>

    <div id="lista" ng-show="listaFestas.showFestasNaoProprias">
      <ang-accordion class="Accordion">
        <collapsible-item item-title="{{festa.name}}" ng-repeat="festa in listaFestas.festasNaoProprias" id="AccordionTitle">
          <div class="descricaoDaFesta">
            <div class="descricaoProprias" ng-hide="{{festa.owner === listaFestas.userId}}">
              <div>
                <p>Descrição:</p>
                <textarea id="textAreaProprias" disabled>{{festa.description}}</textarea>
              </div>
            </div>
            <div class="descricaoOutros" ng-show="{{festa.owner === listaFestas.userId}}">
              <div id="textoDescricao">
                <p><strong>DESCRIÇÃO:</strong></p>
                <textarea id="textAreaLista" disabled>{{festa.description}}</textarea>
              </div>
              <div id="botoesOutros">
                <div id="editarContent">
                  <md-button ui-sref="detalhesFesta({ festaId: festa._id })" id="btnDetalhesDaFesta" class="md-warn md-raised md-hue-2" aria-label="Settings">
                    <md-icon class="icon-light"><i class="material-icons">settings</i></md-icon><br>
                    Editar
                  </md-button>
                </div>
                <div id="excluirDiv">
                  <remove-festa festa="festa"></remove-festa>
                </div>
              </div>
            </div>
          </div>
          <div class="linhaSuaResposta" ng-show="{{festa.owner !== listaFestas.userId}}">
              <party-rsvp festa="festa"></party-rsvp>
          </div>
          <div class="quemEstaVindo">
            <party-rsvps-list rsvps="festa.rsvps"></party-rsvps-list>
          </div>
          <div class="aindaNaoResponderam">
            <party-unanswered festa="festa"></party-unanswered>
          </div>
          <div class="autorFesta">
            <autor-festa festa="festa"></autor-festa>
          </div>
        </collapsible-item>
      </ang-accordion>
    </div>

    <div id="lista" ng-show="listaFestas.todasSelected">
      <ang-accordion class="Accordion">
        <collapsible-item item-title="{{festa.name}}" ng-repeat="festa in listaFestas.festas" id="AccordionTitle">
          <div class="descricaoDaFesta">
            <div class="descricaoProprias" ng-hide="{{festa.owner === listaFestas.userId}}">
              <div>
                <p>Descrição:</p>
                <textarea id="textAreaProprias" disabled>{{festa.description}}</textarea>
              </div>
            </div>
            <div class="descricaoOutros" ng-show="{{festa.owner === listaFestas.userId}}">
              <div id="textoDescricao">
                <p><strong>DESCRIÇÃO:</strong></p>
                <textarea id="textAreaLista" disabled>{{festa.description}}</textarea>
              </div>
              <div id="botoesOutros">
                <div id="editarContent">
                  <md-button ui-sref="detalhesFesta({ festaId: festa._id })" id="btnDetalhesDaFesta" class="md-warn md-raised md-hue-2" aria-label="Settings">
                    <md-icon class="icon-light"><i class="material-icons">settings</i></md-icon><br>
                    Editar
                  </md-button>
                </div>
                <div id="excluirDiv">
                  <remove-festa festa="festa"></remove-festa>
                </div>
              </div>
            </div>
          </div>
          <div class="linhaSuaResposta" ng-show="{{festa.owner !== listaFestas.userId}}">
              <party-rsvp festa="festa"></party-rsvp>
          </div>
          <div class="quemEstaVindo">
            <party-rsvps-list rsvps="festa.rsvps"></party-rsvps-list>
          </div>
          <div class="aindaNaoResponderam">
            <party-unanswered festa="festa"></party-unanswered>
          </div>
          <div class="autorFesta">
            <autor-festa festa="festa"></autor-festa>
          </div>
        </collapsible-item>
      </ang-accordion>
    </div>


  </div>
</div>
