<!--<script type="text/javascript">
  $(function() {
    $('.pacotesTopRanking').mousewheel(function(event, delta) {
      this.scrollLeft -= (delta * 50);
      event.preventDefault();
    });
  });
</script>
<script type="text/javascript">
  $(function() {
    $('.meuHumor').mousewheel(function(event, delta) {
      this.scrollTop -= (delta * 50);
      event.preventDefault();
    });
  });
</script> -->

<div class="superContent">
  <div class="menu">
    <div class="news">
        <button type="button" name="news" class="btnMenu"></button>
    </div>
    <div class="favorites">
        <button type="button" name="favorites" class="btnMenu"></button>
    </div>
    <div class="search">
        <button type="button" name="search" class="btnMenu"></button>
    </div>
  </div>

  <pacotes-top></pacotes-top>
</div>
