<div class="imagemCentral" ng-init="home.init()">
  <login-buttons id="botaoLogin"></login-buttons>
  <div id="conteudoHome">



    <!--
    <div id="textoBoasVindas">
      Bem-vindo ao <strong>DOJO</strong> de 3 way-data-binds <br><br>
      Faça seu login já!
    </div>
    <div id="botaoProsseguir">
      <div id="imagemBotaoProsseguir" ng-click="home.mais()">
      </div>
      <div id="btnBotaoProsseguir">
        <button id="botaoMaisInstrucoes" type="button" name="button" ng-click="home.mais()">Mais instruções</button>
      </div>
    </div>

    <div id="textoBoasVindas2">
      Nesse programa aprenderemos como fazer <br>
      uma aplicação completa apenas com JavaScript
    </div>
    <div id="botaoProsseguir">
      <div id="imagemBotaoProsseguir" ng-click="home.mais()">
      </div>
      <div id="btnBotaoProsseguir">
        <button id="botaoMaisInstrucoes" type="button" name="button" ng-click="home.mais()">Mais instruções</button>
      </div>
    </div>
  -->





  </div>
</div>
