<div class="superContent">
  <div class="menu">
    <div class="news">
      <a id="linkHome" ui-sref="abertura"></a>
      <button type="button" name="news" class="btnMenu"><img src="MenuHome.png" class="imgMenu" /></button>
    </div>
    <div class="favorites">
      <button type="button" name="favorites" class="btnMenu" ng-click="home.clickSearch()"><img src="menuSearch.png" class="imgMenu" /></button>
    </div>
    <div class="search">
      <button type="button" name="search" ng-click="home.clickLocale()" class="btnMenu"><img src="searchIcon.png" class="imgMenu" /></button>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modalSearch">
    <div class="closeSearch" ng-click="home.closeSearch()">
      <img src="http://i63.tinypic.com/hvox7t.jpg" alt="url do sitezin chinelo" id="fecharImagem" />
    </div>
    <div class="formSearch">
      <input type="text" placeholder="O que você está buscando?">
    </div>
  </div>

  <pacotes-top></pacotes-top>
  <pacotes-default></pacotes-default>

</div>

<!-- MODAL -->
<div class="informacoesDaRota">
  <!-- Botão fechar -->
  <div class="closeSearch" ng-click="home.closeRotaDetail()">
    <img src="http://i63.tinypic.com/hvox7t.jpg" alt="url do sitezin chinelo" id="fecharRotaDetail" />
  </div>
  <div class="tituloDaRota">
      <h4>INFORMAÇÕES DA ROTA:</h4><br>
      <div class="nomeDaRota"></div>
  </div>
  <div class="conteudoDaRota">
    <h4>DESCRIÇÃO DA ROTA:</h4><br>
    <div class="descricaoDaRota"></div>
  </div>
  <div class="botoesSociais">
    <div class="botaoCurtir" ng-click="home.clicaCurtir()">
      <img class="ImagensDosBotoes" src="coracao.png" alt="" />
    </div>
    <div class="botaoCompartilhar" ng-click="home.clicaCompartilhar()">
      <img class="ImagensDosBotoes" src="compartilhar.png" alt="" />
    </div>
    <div class="botaoSeguir" ng-click="home.clicaFacebook()">
      <img class="ImagensDosBotoes" src="face.png" alt="" />
    </div>
  </div>
  <div class="botoesComprar">
    <button type="button" id="btnComprar" ng-click="home.clicaComprar()">COMPRAR</button>
  </div>
</div>
