<div id="conteudoHome">

  <div class="conteudoDaPagina">
    <div id="tituloDetalhes">
      DETALHES DA FESTA:
    </div>
    <div id="formEdicaoDeFesta">
      <form>
        Nome da festa: <input class="inputDetalhes" type="text" ng-model="detalhesFesta.festa.name" /><br>
        Descrição da festa: <textarea class="inputDetalhes" id="descricaoDetalhes" ng-model="detalhesFesta.festa.description"></textarea><br>
        Festa pública? <input type="checkbox" ng-model="detalhesFesta.festa.public"><br>
        <button id="btnSaveDetalhes"ng-click="detalhesFesta.save()">Salvar alterações</button>
      </form>
    </div>

      <div id="festaPublica" ng-show="detalhesFesta.festa.public">
        Essa festa é pública! Todos estão convidados!
      </div>
      <div id="usuariosDetalhes" ng-hide="detalhesFesta.festa.public">
          <div id="usuariosConvidados">
            Usuários convidados:
          </div>
          <ul>
            <li ng-repeat="user in detalhesFesta.users | invitedFilter:detalhesFesta.festa">
              <div class="nomeDosUsuariosConvidados">{{ user | displayNameFilter }}</div>
            </li>
          </ul>

        <festa-nao-convidados festa="detalhesFesta.festa"></festa-nao-convidados>
        <button id="btnBackDetalhes" ui-sref="home">Back</button>
      </div>

  </div>

</div>
