<!-- =========================== TITULO ==================================== -->
<div class="titulo">
  <div>APP ROTAS</div><br><br>
  <div>Encontre seus caminhos</div>
</div>
<!-- =========================== TITULO =END================================ -->
<!-- =========================== SEARCH DIALOG ============================= -->
<div class="searchDialog">
  <div class="fecharSearchDialog" ng-click="abertura.clicaFecharSearchDialog()">X</div>
  <div class="searchOptions">
    <div id="searchOptionLugar" ng-click="abertura.clicaSearchOptionLugar()">
      <span>Lugar</span>
    </div>
    <div id="searchOptionEstabelecimento" ng-click="abertura.clicaSearchOptionEstabelecimento()">
      <span>Estabelecimento</span>
    </div>
    <div id="searchOptionRota" ng-click="abertura.clicaSearchOptionRota()">
      <span>Rota</span>
    </div>
  </div>
  <div class="searchInputDiv" ng-show="abertura.showInputDivLocal">
    <input type="text" name="inputSearch" class="inputSearch" placeholder="Procure por... Um local...">
  </div>
  <div class="searchInputDiv" ng-show="abertura.showInputDivEstabelecimento">
    <input type="text" name="inputSearch" class="inputSearch" placeholder="Procure por... Um Estabelecimento...">
  </div>
  <div class="searchInputDiv" ng-show="abertura.showInputDivRota">
    <input type="text" name="inputSearch" class="inputSearch" placeholder="Procure por... Uma rota...">
  </div>
</div>
<!-- =========================== SEARCH DIALOG =END========================= -->
<!-- =========================== BARRA NAVEGACAO =========================== -->
<div class="barra">
  <div class="feedWorld">
    <a ui-sref="home" class="linkWorld">
      <p class="message" ng-show="abertura.showMessages">
        Fique por dentro das Rotas mais acessadas<br>
        Acompanhe as atividades dos seus amigos<br>
        COMECE AGORA!
      </p>
    </a>
    <img src="worldblue.png" class="iconeAbertura" />
  </div>
  <div class="friends" ng-click="abertura.clicaFriends()">
    <a href="#" class="linkFriends">
      <div class="message2" ng-show="abertura.showMessages">
        <p>Por onde andam seus amigos?</p>
      </div>
    </a>
    <img src="friends.png" class="iconeAbertura" />
  </div>
  <div class="myRoutes" ng-click="abertura.clicaMyRoutes()">
    <a href="#" class="linkMyRoutes">
      <div class="message3" ng-show="abertura.showMessages">
        <p>Minha localição - Exibe rotas próximas ao meu local</p>
      </div>
    </a>
    <img src="myRoutes.png" class="iconeAbertura" />
  </div>
  <div class="find" ng-click="abertura.clicaFind()">
    <a href="#" class="linkFind">
      <div class="message4" ng-show="abertura.showMessages">
        <p>Nos diga o que você está pensando que lhe dizemos seu rumo a partir disso!</p>
      </div>
    </a>
    <img src="find.png" class="iconeAbertura" />
  </div>
  <div class="backArrow" ng-click="abertura.clicaBackArrow()">
    <img src="backArrow.png" class="iconeAbertura" />
  </div>
</div>
<!-- =========================== BARRA NAVEGACAO =END======================= -->
