<br>
<br>

<div class="tituloDaLista">
  <strong>QUEM ESTÁ VINDO:</strong>
</div>

<div id="respostasContadorDiv">
  <div id="yesDiv" class="tercoContadorDiv">
    Sim -
    {{ (partyRsvpsList.rsvps | filter:{rsvp:'yes'}).length }}
  </div>

  <div id="maybeDiv" class="tercoContadorDiv">
    Talvez -
    {{ (partyRsvpsList.rsvps | filter:{rsvp:'maybe'}).length }}
  </div>

  <div id="noDiv" class="tercoContadorDiv">
    Não -
    {{ (partyRsvpsList.rsvps | filter:{rsvp:'no'}).length }}
  </div>

</div>

<party-rsvp-users rsvps="partyRsvpsList.rsvps" type="yes"></party-rsvp-users>
<party-rsvp-users rsvps="partyRsvpsList.rsvps" type="maybe"></party-rsvp-users>
<party-rsvp-users rsvps="partyRsvpsList.rsvps" type="no"></party-rsvp-users>
