<div class="pacotesDefaultContent">
  <div class="seuHumor" ng-click="pacotesDefault.clickSeuHumor()">
    <h4>SEU HUMOR</h4>
  </div>
  <div class="pacotesDefault" ng-init="pacotesDefault.initMouse2()">
    <div class="caixinha2" ng-repeat="rotaDefault in pacotesDefault.rotasDefault">
      <!--
      <div class="informacaoDaRota" align="center">
        <strong>{{rotaDefault.name}}</strong>
      </div>
      -->
      <img src="{{rotaDefault.urlImage}}" class="imagemRota"/>
    </div>
  </div>

  <div class="atividadeDosAmigos" ng-click="pacotesDefault.clicaMapa()">
    <h4>ATIVIDADE DOS AMIGOS</h4>
  </div>
  <div class="listaAtividadeDosAmigos">
    <ons-list>
      <ons-list-header>Por onde andam...</ons-list-header>

      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
    </ons-list-item>
      <ons-list-item>
        <div class="conteudoItemLista">
          <div class="imgAmigo">
            <img src="userIcon.png"/>
          </div>
          <div class="atividade">
              Amigo1 irá na rota: 'balada com amigos' today at 22hrs
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</div>
