<div class="pacotesDefaultContent">
  <div class="seuHumor" ng-click="pacotesDefault.clickSeuHumor()">
    <h4>SEU HUMOR</h4>
  </div>
  <div class="pacotesDefault" ng-init="pacotesDefault.initMouse2()">
    <div class="caixinha2" ng-repeat="rotaDefault in pacotesDefault.rotasDefault">
      <!--
      <div class="informacaoDaRota" align="center">
        <strong>{{rotaDefault.name}}</strong>
      </div>
      -->
      <img src="{{rotaDefault.urlImage}}" class="imagemRota"/>
    </div>
  </div>

  <div class="atividadeDosAmigos" ng-click="pacotesDefault.clicaMapa()">
    <h4>ATIVIDADE DOS AMIGOS</h4>
  </div>
  <div class="listaAtividadeDosAmigos">
    <ons-list>
      <ons-list-header>Por onde andam...</ons-list-header>
      <ons-list-item>
        <div class="userImagem">
            <img id="userImagemImg" src="userIcon.png"/>
        </div>
        <div class="userAcao">
          Amigo1 curtiu a rota: 'Noite com os amigos'
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="userImagem">
          <img id="userImagemImg" src="userIcon.png"/>
        </div>
        <div class="userAcao">
          Amigo2 curtiu a rota: 'Noite Japa'
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="userImagem">
            <img id="userImagemImg" src="userIcon.png"/>
        </div>
        <div class="userAcao">
          Amigo3 curtiu a rota: 'Noite com os amigos'
        </div>
      </ons-list-item>
      <ons-list-item>Amigo1 irá na rota: 'balada com amigos' today at 22hrs</ons-list-item>
      <ons-list-item>Amigo1 irá na rota: 'balada com amigos' today at 22hrs</ons-list-item>
      <ons-list-item>Amigo1 irá na rota: 'balada com amigos' today at 22hrs</ons-list-item>
      <ons-list-item>Amigo1 irá na rota: 'balada com amigos' today at 22hrs</ons-list-item>
    </ons-list>
  </div>
</div>
