<div id="conteudoHome">

  <div id="conteudoDoForm">
    <form name='formAddFesta' ng-submit='adicionaFesta.submit()'>
      <div class="linha1">
        <div class="conteudoDelinha" id="detalhesStyle">
          <label>
            Adicionar um DOJO:
          </label>
        </div>
      </div>
      <div class="linha1">
          <input type="text" ng-model="adicionaFesta.party.name" placeholder="Nome do Dojo" required class="conteudoDelinha" id="nomeStyle"/>
      </div><br>
      <div class="linha1">
          <textarea ng-model="adicionaFesta.party.description" placeholder="Descrição" required class="conteudoDelinha" id="descricaoStyle"></textarea>
      </div>
      <div class="linha1">
        <div class="conteudoDelinha" id="publicStyle">
          <label>
            Dojo Publico ?
          </label>
          <input type="checkbox" ng-model="adicionaFesta.party.public" id="checkBoxPublic">
        </div>
      </div>
      <div class="linha1">
        <button type="submit" ng-disable='formAddFesta.$error' class="conteudoDelinha" id="buttonStyle">Add DOJO!</button>
      </div>
    </form>
  </div>
</div>
